annotated-types==0.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
docutils==0.20.1
exceptiongroup==1.1.1
fonttools==4.39.3
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
Kivy==2.2.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
opencv-contrib-python==4.7.0.72
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pluggy==1.0.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.15.1
pyparsing==3.0.9
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pytest==7.3.1
pytest-mock==3.10.0
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.31.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
zipp==3.15.0
